pydantic~=2.7.4
aiohttp[speedups]~=3.9.5
pyrogram~=2.0.106
tgcrypto~=1.2.5
aiogram~=3.8.0
yarl~=1.9.4
beanie~=1.26.0
motor~=3.5.0
beautifulsoup4~=4.12.3
aiofiles~=23.2.1
uvloop~=0.19.0; sys_platform == 'linux'