pydantic~=2.8.2
aiohttp[speedups]~=3.10.5
pyrofork~=2.4.0rc1
tgcrypto~=1.2.5
aiogram~=3.13.0
yarl~=1.11.1
beanie~=1.26.0
motor~=3.5.1
beautifulsoup4~=4.12.3
aiofiles~=23.2.1
pymongo~=4.8.0
uvloop~=0.20.0; sys_platform == 'linux' or sys_platform == 'darwin'
